.home-add-pet-main-container {
  display: flex;
  padding: 30px 30px 70px 30px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-add-pet-main-heading {
  font-size: 30px;
  font-weight: 500;
}

.home-add-pet-details {
  margin-top: 20px;
  display: flex;
}

.home-add-pet-details-img {
  width: 150px;
  height: 220px;
}

.home-add-pet-details-inputs {
  width: 300px;
  margin-left: 40px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-add-pet-details-single-input-container {
  width: 100%;
}

.home-add-pet-details-single-input {
  border: 1px solid rgb(237, 237, 237);
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

.home-add-pet-error {
  height: 20px;
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

.home-add-pet-popup-button {
  margin-top: 10px;
  font-size: 20px;
  color: white;
  background-color: black;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-add-pet-picture {
  width: 150px;
  height: 220px;
}
